/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:hover, &:visited, &:active {
        color: $link-color;
        text-decoration: underline;
    }
}


/**
 * Buttons
 */
.btn {

    border-color: transparent !important;
    transition: background-color .5s;
    line-height: 1 !important;
    padding: 20px !important;

    &.btn-primary {
        background-color: $green;
        color: $white;
    }

    &.btn-default {
        background-color: $light-grey;
        color: $black;
    }

    &.big {
        font-size: 2.5em;
    }

    &.call-to-action {
        font-size: 4em;
        background-color: $red;
    }

    &:hover, &.call-to-action:hover, &.btn-default:hover {
        border-color: transparent !important;
        background-color: $navy-blue;
    }
}

/**
 * Forms
 */
input[type="button"], textarea {
    font-size: 22px !important;
}


/**
 * Useful
 */
.center {
    text-align: center;
}

.spacer {
    display: block;
    height: $spacing-unit;
}


